body{
    background: url(http://1.bp.blogspot.com/-UfcZWdO1Jr0/UemISH7v3MI/AAAAAAAAAEA/26Y3muObfZU/s1600/wallpaper-314004.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 100% 100%;
	} 

	.container{
		background: white;
        border-radius: 20px;
        opacity: 0.9;
    }

    .grid-full p{
    
		background: pink;
        border-radius: 20px;
        opacity: 0.9;
    }

	.grid-3 figure img{
		width: 70%;
		height: auto;
		padding-left: 15%;
		padding-right: 15%;
		background: transparent;
	}

	.grid-3 p{
		font-family: 'Dancing Script', cursive;
		font-size: 21px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.grid-full{
		text-align: center;
		font-family: 'Dancing Script', cursive;
		font-size: 24px; 
	}